<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>SCRUM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body class="bg-dark" >
	<div th:switch="${games}" class="container card w-75 shadow my-5">
		<div class="row">
			<div class="col-md">
				<h2 th:case="null">No games yet!</h2>
				<div th:case="*">
					<h2 class="my-5 text-center text-primary">Games of Story</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Name</th>
								<th>Date</th>
								<th>Time</th>
								<th>Groups</th>
								<th>Sprints</th>
								<th>Real Initial Time</th>
								<th>Stories</th>
								<th sec:authorize="hasRole('YES')">Topic</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="game : ${games}">
								<td th:text="${game.name}"></td>
								<td th:text="${game.scheduledDate}"></td>
								<td th:text="${game.startTime}"></td>
								<td th:text="${game.nGroups}"></td>
								<td th:text="${game.nSprints}"></td>
								<td th:text="${game.scheduledTime}"></td>
								<td><a th:href="@{/games/showStories/{id}(id=${game.id})}"
									class="btn btn-primary"><i class="fas fa-history ml-2"></i></a></td>
								<td sec:authorize="hasRole('YES')"><a th:href="@{/games/showTopic/{id}(id=${game.id})}"
									class="btn btn-primary"><i class="fas fa-book ml-2"></i></a></td>
								<td><a th:href="@{/games/edit/{id}(id=${game.id})}"
									class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<p>
			<a href="/stories/"><i class="fas fa-home ml-2"></i> Go back to stories</a>
		</p>
	</div>
</body>
</html>